# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.iws
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# H2 Database files
*.db
*.mv.db
*.trace.db
data/

# Env / Secrets
.env
application-local.yml
application-secret.yml
